{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/pkmn_card.css">
{% endblock %}

{% block body %}

{% if app.user is not empty %}
Bienvenue {{app.user.pseudo}}

<h2>Mes shasses en cours :</h2>

<section id="my-actives">

  {% for shasse in shasses %}

  <div class="my-shasse">
    <img class="pokemon-img" src="{{shasse.imgShiny}}" alt="{{shasse.nomPokemon}} shiny">
    <p class="compteur">{{shasse.nbRencontres}}</p>
  </div>

  {% endfor %}
</section>

{% else %}
<p class="intro">
  Connectez-vous pour rejoindre la légion des shiny hunters et compléter votre propre Shinydex!
</p>
{% endif %}

<h2>Les dernières captures :</h2>

<section id="last-captures">

  {% for capture in captures %}

  <div class="last-capture">
    <p class="capture-description">
      Attrapé par <a class="pseudo-captures" href="{{ path('profile_user', {'pseudo': capture.user.pseudo}) }}">{{
        capture.user.pseudo }}</a>,

      {# affichage de la date de capture #}
      {% set now = date() %}
      {% set diff = capture.dateCapture.diff(now) %}
      {% set years = diff.format('%y') %}
      {% set months = diff.format('%m') %}
      {% set days = diff.format('%d') %}

      {% if capture.dateCapture|date("Y-m-d") == now|date("Y-m-d") %}
      aujourd'hui
      {% elseif years > 0 %}
      il y a {{ years }} {{ years > 1 ? 'ans' : 'an' }}
      {% elseif months > 0 %}
      il y a {{ months }} mois
      {% elseif days > 1 %}
      il y a {{ days }} jours
      {% else %}
      hier
      {% endif %}
    </p>

    {# on utilise le template de pokemonCard pour afficher les captures #}
    {% include '.custom/pokemonCard.html.twig' %}
  </div>

  {% endfor %}
</section>

{% endblock %}