{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/security.css')}}">
{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<h1>Formulaire d'inscription</h1>

{{ form_errors(registrationForm) }}

{{ form_start(registrationForm) }}
{{ form_row(registrationForm.pseudo) }}
{{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}

<div id="conditions-utilisations">
    {{ form_row(registrationForm.agreeTerms) }}
    &nbsp;<a href='' class='conditions'>conditions d'utilisation</a>
</div>

<div class="checkbox-container">
    <label for="_remember_me">Se souvenir de moi</label>
    <input type="checkbox" name="_remember_me" id="_remember_me">
</div>

<p class="login-register-redirects">Déjà un compte? <a href="{{path('app_login')}}">Connecte-toi ici!</a></p>

{# honey pot #}
<input type="hidden" name="first_name"/>

<button type="submit" class="btn">S'enregistrer</button>

<div id="socials-connect">
<a href="{{path('twitch_helix_connect')}}" id="twitch-connect" aria-label="connexion avec Twitch"><img src="{{asset('img/twitch.png')}}" alt="connexion avec Twitch"></a>
<a href="" id="twitch-connect" aria-label="connexion avec Discord"><img src="{{asset('img/discord.png')}}" alt="connexion avec Discord"></a>
</div>

{{ form_end(registrationForm) }}
{% endblock %}