<div class="pokemon-card">

  {# delete : capture ou shasse de l'user connecté ou admin / sauf noBtns var #}
  {% if (app.user is defined and app.user is not empty) and (app.user == capture.user or 'ROLE_ADMIN' in app.user.roles)
  and not (noBtns is defined)
  %}

  <div id="links-btns">
    {% if capture.termine==true %}
    <i class="fa-solid fa-share-from-square" id="{{capture.id}}"></i>

    <a class="del-btn" aria-label="Supprimer la capture" href="{{ path('delete_capture', {'id': capture.id}) }}">
      <i class="fa-solid fa-trash-can"></i>
    </a>
    {% else %}
    <a class="del-btn" aria-label="Supprimer cette shasse" href="{{ path('delete_shasse', {'id': capture.id}) }}">
      <i class="fa-solid fa-trash-can"></i>
    </a>

    {% endif %}
  </div>
  {% endif %}

  {# envoi de l'id pour la modal #}
  <p class="hidden">{{capture.id}}</p>

  {# contenu de la card #}
  <div class="main-card-content">
    <section class="capture-infos{% if capture.termine == true %} capture-infos-termine{% endif %}">

      {# if capture #}
      {% if capture.termine == true %}
      <div>
        <p>rencontres</p>
        <hr>
        <p class="nbRencontres">{{capture.nbRencontres}}</p>
      </div>

      <div>
        <p>date</p>
        <hr>
        <p>{{capture.dateCapture | date('d/m/Y')}}</p>
      </div>
      {% endif %}
      {# #}

      <div>
        <p>jeu</p>
        <hr>
        <p class="jeu">{{capture.jeu}}</p>
      </div>

      <div>
        <p>lieu</p>
        <hr>
        <p class="lieu">{{capture.lieu}}</p>
      </div>

      <div>
        <p>méthode</p>
        <hr>
        <p class="methode">{{capture.methodeCapture}}</p>
      </div>

      <div class="chroma-container">
        <img src="{{ asset('img/sprite-charme-chroma.png') }}" alt="charme chroma">

        {% if capture.charmeChroma %}
        avec
        {% else %}
        sans
        {% endif %}
      </div>
    </section>

    <section class="pokemon-infos">

      <p class="pokemon-id">#{{ '%03d'|format(capture.pokedexId) }}</p>

      <div class="capture-img-container">
        <img class="pokemon-img" src="{{capture.imgShiny}}" alt="{{capture.nomPokemon}} shiny"
          title="{{capture.nomPokemon}}">

        {# if capture #}
        {% if capture.termine == true %}
        <img class="ball-img"
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{capture.ball}}.png"
          alt="{{capture.ball}}" title="{{capture.ball}}">
        {% endif %}
        {# #}
      </div>

      {# if capture #}
      {% if capture.termine == true %}

      <div class="captured-pokemon-footer">
        <div class="capture-names">
          <p class="pokemon-name">{{capture.nomPokemon}}</p>
          <p class="surname">{{capture.surnom}}</p>
        </div>

        {% if capture.sexe == "male" %}
        <i class="fa-solid fa-mars"></i>
        {% elseif capture.sexe == "femelle" %}
        <i class="fa-solid fa-venus"></i>
        {% else %}
        <i class="fa-solid fa-genderless"></i>
        {% endif %}
      </div>

      {% endif %}
      {# #}
    </section>
  </div>

  {# if shasse #}
  {% if capture.termine == false %}
  <div class="counter-buttons">
    <button class="decrement10" data-id="{{ capture.id }}"><span>-10</span></button>
    <button class="decrement" data-id="{{ capture.id }}"><span>-1</span></button>
    <button class="increment" data-id="{{ capture.id }}"><span>+1</span></button>
    <button class="increment10" data-id="{{ capture.id }}"><span>+10</span></button>
  </div>

  {# affichage du compteur #}
  <label for="compteur-{{ capture.id }}" class="visually-hidden">Compteur</label>
  <input type="number" class="compteur-input" name="compteur-{{ capture.id }}" id="compteur-{{ capture.id }}"
    value="{{capture.nbRencontres}}"></input>

  {# ?? ajouter ici le taux de capture ?? #}

  <a class="stop_suivi" href="{{ path('stop_suivi', {'id': capture.id}) }}">arrêter le suivi</a>

  <button class="shasse-trouve" aria-label="shiny trouvé">
    <img src="{{asset('img/pokeball.png')}}" alt="pokeball" class="capture-ball-img">
  </button>

  {% endif %}
  {# #}

</div>