{% extends 'base.html.twig' %}

{% block title %}Mes amis{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="css/amis.css">
{% endblock %}


{% block body %}

<section id="demandes">
    <div id="demandes-envoyees">
        <h2>Demandes envoyées :</h2>
        {% for dresseur in demandesEnvoyees %}
        <figure>
            <img src="{{ asset('img/' ~ dresseur.avatar) }}" alt="avatar de {{dresseur.pseudo}}">
        </figure>
        <span class="pseudo">
            {{dresseur.pseudo}}
        </span>
        {% endfor %}
    </div>

    <div id="demandes-recues">
        <h2>Demandes reçues :</h2>
        {% for dresseur in demandesRecues %}
        <figure>
            <img src="{{ asset('img/' ~ dresseur.avatar) }}" alt="avatar de {{dresseur.pseudo}}">
        </figure>
        <span class="pseudo">
            {{dresseur.pseudo}}
        </span>
        {% endfor %}
    </div>
</section>

<section id="dresseurs">
    <h1>Liste de mes amis</h1>

    {% for data in dresseursAmis %}

    <div class="dresseur">
        <figure class="profil-dresseur">
            <img src="{{ asset('img/' ~ data.user.avatar) }}" alt="avatar de {{data.user.pseudo}}">
            <figcaption>{{data.user.pseudo}}</figcaption>
        </figure>

        <div class="dex-completion">
            <p>{{data.capturedPokemonIds | length}} / {{allPokemons | length}}</p>
        </div>

        <ul class="dresseur-links">
            <li><a href="">msg</a></li>
            <li><a href="{{ path('app_shinydex', {'id': data.user.id}) }}">dex</a></li>
            <li><a href="">shasses</a></li>
        </ul>
        <p class="del-ami">retirer ami</p>
    </div>
    {% endfor %}
</section>

{% endblock %}