{% extends 'base.html.twig' %}

{% block title %}Liste des dresseurs{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="css/amis.css">
{% endblock %}


{% block body %}

<section id="demandes">
<div id="demandes-envoyees">
    <h2>Demandes envoyées :</h2>
    {% for dresseur in demandesEnvoyees %}
    {{dresseur.pseudo}}
    {% endfor %}
</div>

<div id="demandes-recues">
    <h2>Demandes reçues :</h2>
    {% for dresseur in demandesRecues %}
    {{dresseur.pseudo}}
    {% endfor %}
</div>
</section>
<section id="dresseurs">
<h1>Liste de mes amis</h1>

    {% for data in dresseursAmis %}

    <div class="dresseur">
        <figure>
            <img src="{{ asset('img/' ~ data.user.avatar) }}" alt="avatar de {{data.user.pseudo}}">
        </figure>
        <span class="pseudo">
            {{data.user.pseudo}}
        </span>

        <div id="dex-completion">
            <p>{{data.capturedPokemonIds | length}} / {{allPokemons | length}}</p>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}