{% extends 'base.html.twig' %}

{% block title %}Mes amis{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/amis.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/amisToggleLinks.js')}}"></script>
{% endblock %}

{% block body %}

<section id="demandes">

    {% if demandesEnvoyees is not empty %}

    {# Demandes d'ami envoyées #}
    <h2>Demandes envoyées :</h2>
    <div id="demandes-envoyees">
        {% for demande in demandesEnvoyees %}
        <div class="amis-envois">

            <a class="user-link" href="{{ path('profile_user', {'pseudo': demande.user.pseudo}) }}">
                <figure>
                    <img src="{{demande.user.avatar ? asset('img/' ~ demande.user.avatar) : asset('img/unknown_user.png') }}"
                        alt="avatar de {{demande.user.pseudo}}">
                </figure>
                <span class="pseudo">
                    {{demande.user.pseudo}}
                </span>
            </a>

            <div class="demande-links">
                <a href="{{ path('delete_ami', {'id': demande.id}) }}"><i class="fa-solid fa-xmark"></i></a>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endif %}

    {# Demanes d'ami reçues #}
    {% if demandesRecues is not empty %}

    <h2>Demandes reçues :</h2>
    <div id="demandes-recues">
        {% for demande in demandesRecues %}
        <div class="amis-demandes">

            <a class="user-link" href="{{ path('profile_user', {'pseudo': demande.user.pseudo}) }}">
                <figure>
                    <img src="{{demande.user.avatar ? asset('img/' ~ demande.user.avatar) : asset('img/unknown_user.png') }}"
                        alt="avatar de {{demande.user.pseudo}}">
                </figure>
                <span class="pseudo">
                    {{demande.user.pseudo}}
                </span>
            </a>

            <div class="demande-links">
                <a href="{{ path('accept_ami', {'id': demande.id}) }}" class="accept-demand">confirmer</a>
                <a href="{{ path('delete_ami', {'id': demande.id}) }}" class="refuse-demand">supprimer</a>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endif %}
</section>

<section id="dresseurs-amis">
    <h1>Liste d'amis</h1>

    <div class="dresseurs-header">
        <p class="profil-dresseur">Dresseur</p>
        <p class="dex-completion">Shinydex</p>
        <p class="dresseur-links">Message / Captures</p>
    </div>

    {# Liste des amis #}
    {% for data in dresseursAmis %}

    <div class="dresseur">

        <a class="user-link profil-dresseur" href="{{ path('profile_user', {'pseudo': data.user.pseudo}) }}">
            <figure>
                <img src="{{data.user.avatar ? asset('img/' ~ data.user.avatar) : asset('img/unknown_user.png') }}"
                    alt="avatar de {{data.user.pseudo}}">
            </figure>
            <span class="pseudo">
                {{data.user.pseudo}}
            </span>
        </a>

        <div class="dex-completion">
            <p>{{data.capturedPokemonIds | length}} / {{allPokemons | length}}</p>
            <a href="{{ path('app_shinydex', {'pseudo': data.user.pseudo}) }}"><i
                    class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>

        <ul class="dresseur-links">
            <li>
                <a href="{{path('messages', {'pseudo': data.user.pseudo})}}">
                    <i class="fa-solid fa-message"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('captures', {'pseudo': data.user.pseudo}) }}">
                    {% include '.custom/customPokeball.html.twig' %}
                </a>
            </li>
        </ul>
        <a class="del-ami" href="{{ path('delete_ami', {'id': data.id}) }}">
            <i class="fa-solid fa-trash-can"></i>
        </a>
        <div class="menu-burger-ami">
            <i class="fa-solid fa-ellipsis toggle-menu"></i>

            <ul class="dresseur-links-mobile hide">
                <li>
                    <a href="">
                        <i class="fa-regular fa-message"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('captures', {'pseudo': data.user.pseudo}) }}">
                        {% include '.custom/customPokeball.html.twig' %}
                    </a>
                </li>
                <li>
                    <a class="del-ami" href="{{ path('delete_ami', {'id': data.id}) }}">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}