{% extends 'base.html.twig' %}

{% block title %}Messages avec {{ami.pseudo}} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/pkmn_card.css')}}">
<link rel="stylesheet" href="{{asset('css/conversation.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/messagerieRemovePj.js')}}"></script>
{% endblock %}

{% block body %}

{% set dateActuelle = "now" | date('m/d/y') %}

<section id="conversation">
{% for message in conversation %}

{# On affiche la date si elle est différente. #}
{% if dateMessageActuel is not defined or dateMessageActuel != (message.dateMessage | date('m/d/y')) %}
{% set dateMessageActuel = message.dateMessage | date('m/d/y') %}

{% set date1week = "now - 6 days" | date('m/d/y') %}
{# Comparer si la date est il y a + de 6 jours #}
{% if dateMessageActuel < date1week %} <p class="date">{{ message.dateMessage | date('d-m-y') }}</p>

    {# si aujourd'hui #}
    {% elseif dateMessageActuel == dateActuelle %}
    <p class="date">Aujourd'hui</p>
    {% else %}

    {# si < 7 jours, alors on affiche le jour (traduit en FR) #} {% set daysTranslate={ "Monday" : "Lundi" , "Tuesday"
        : "Mardi" , "Wednesday" : "Mercredi" , "Thursday" : "Jeudi" , "Friday" : "Vendredi" , "Saturday" : "Samedi"
        , "Sunday" : "Dimanche" } %} {# on affiche le jour #} <p class="date">{{ daysTranslate[message.dateMessage |
        date('l')] }}</p> {# 'l' : jour en toute lettre #}
        {% endif %}
        {% endif %}

        {# container #}
        <div {% if message.userEnvoi==app.user %} class="message-container my-message" {% else %}
            class="message-container his-message" {% endif%}>

            {# avatar : si jour différent / user différent #}
            {% if lastUserSent is not defined or (lastUserSent != message.UserEnvoi) or (dateMessagePrecedent is defined and (dateMessagePrecedent | date('Y-m-d')) != (message.dateMessage | date('Y-m-d'))) %}
            <a class="user-link profil-dresseur"
                href="{{ path('profile_user', {'pseudo': message.userEnvoi.pseudo}) }}">
                <figure>
                    <img src="{{message.userEnvoi.avatar ? asset('img/avatars/' ~ message.userEnvoi.avatar) : asset('img/unknown_user.png') }}"
                        alt="avatar de {{message.userEnvoi.pseudo}}">
                </figure>
            </a>
            {% else %}
            <div class="profil-dresseur hidden-profil"></div>
            {% endif %}

            {# heure : si user différent du dernier message ou dernier message envoyé il y a plus de 10 minutes, ou un autre jour que le précédent #}
            {% if 
                (heureMessagePrecedent is not defined or heureMessagePrecedent < (message.dateMessage | date_modify('-15 minutes')) | date('H:i'))
                or (lastUserSent is not defined or lastUserSent != message.UserEnvoi) 
                or (dateMessagePrecedent is defined and (dateMessagePrecedent | date('Y-m-d')) != (message.dateMessage | date('Y-m-d'))) 
                %}
            
                <div class="message-content space-message">
                    <span class="heure">
                            {{message.dateMessage | date('H:i')}}
                    </span>
            {% else %}
                
                <div class="message-content">
            {% endif %}

            {# inclusion de la card en PJ #}
            {% if message.pj is defined and message.pj is not null %}
            {% set capture = message.pj %}

            <div class="card-container">
                <p class="pj-intro">capture de <span class="pseudo">{{message.pj.user.pseudo}}</span></p>
                
                {# on retire les btns de la card #}
                {% set noBtns = true %}
                {% include '.custom/pokemonCard.html.twig' %}
            </div>
                {% endif %}

            <p class="message">{{message.contenuMessage}}</p>
        </div>
    </div>

    {% set heureMessagePrecedent = message.dateMessage | date('H:i') %}
    {% set lastUserSent = message.UserEnvoi %}
    {% set dateMessagePrecedent = dateMessageActuel %}
    {% endfor %}
</section>

    {{ form_start(formMessage) }}
<p>Nouveau message :</p>

{% if pj is defined and pj is not empty %}
<div id="pjContainer">
    <input type="hidden" name="pj" value="{{pj.id}}">

    <label id="pjToSend" for="pj">
        <div>
            <img src="{{pj.imgShiny}}" alt="{{pj.nomPokemon}} shiny">
            <p>capture de <span>{{pj.nomPokemon}}</span></p>
        </div>
        <i class="fa-solid fa-trash-can"></i>
    </label>
</div>
{% endif %}

{{ form_row(formMessage.contenuMessage) }}
    <button type="submit">envoyer</button>
{{ form_end(formMessage) }}

{% endblock %}