<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom_pokeball.css">
  {% block stylesheets %}{% endblock %}

  <script src="https://kit.fontawesome.com/7252ea4d54.js" crossorigin="anonymous"></script>
  {% block javascripts %}
  {% block importmap %}{{ importmap('app') }}{% endblock %}
  {% endblock %}
</head>

<body>
  {# header #}
  <header>

    <div>
      <a href="{{ path('app_home') }}">
        <img src="#" alt="logo">SHINYQUEST
      </a>
    </div>

    <div id="search">
      <div id="search-img-container"></div>
      <input type="search" placeholder="recherchez un pokemon, un dresseur, ...">
    </div>

    <div id="l_d_mode">
      <i class="fa-regular fa-sun"></i>
      <i class="fa-regular fa-moon"></i>
    </div>

    <nav id="nav-header">

      {% if app.user is not empty %}

      <ul>
        <li title="Forum"><i class="fa-regular fa-comments"></i></li>

        <li title="Mes captures">
          <div class="custom-pokeball">
            <div class="pokeball-circle"></div>
            <div class="pokeball-center"></div>
            <div class="pokeball-line"></div>
          </div>
        </li>

        <li title="Mes amis"><i class="fa-solid fa-user-group"></i></li>
        <li title="Messagerie"><i class="fa-regular fa-message"></i></li>
      </ul>

      <div id="header-profile">
        <p>{{app.user}}</p>
        <figure>
          <img src="{{ asset('img/' ~ app.user.avatar) }}" alt="image de profil de {{app.user}}">
        </figure>

      </div>
      <i id="profile-caret" class="fa-solid fa-caret-down"></i>



      {% else %}
      <ul>
        <li>inscription</li>
        <li>connexion</li>
      </ul>
      {% endif %}

    </nav>

    <ul id="profile-nav">
      <li><a class="nav-link" href="">Mon profil</a></li>
      <li><a class="nav-link" href="">Mes shasses</a></li>
      <li><a class="nav-link" href="">Ma carte</a></li>
      <li><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>
    </ul>
  </header>

  <div id="main-wrapper">

    <aside id="main-side-nav">
      <div>
        <h3>
          <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
        </h3>
      </div>

      <div>
        <h3>Mon suivi</h3>
        <ul>
          <li><a class="nav-link" href="{{ path('my_shasses') }}">Mes shasses</a></li>
          <li><a class="nav-link" href="{{ path('my_captures') }}">Mes captures</a></li>
          <li><a class="nav-link" href="">Mon shinydex</a></li>
        </ul>
      </div>

      <div>
        <h3>Communauté</h3>
        <ul>
          <li><a class="nav-link" href="">Mes amis</a></li>
          <li><a class="nav-link" href="">Les dresseurs</a></li>
          <li><a class="nav-link" href="">Le top des shasses</a></li>
          <li><a class="nav-link" href="">Shasses en cours</a></li>
          <li><a class="nav-link" href="">Forum</a></li>
        </ul>
      </div>

      <div>
        <h3>Général</h3>
        <ul>
          <li><a class="nav-link" href="{{ path('app_pokedex') }}">Pokedex</a></li>
          <li><a class="nav-link" href="">Recherche pokemon</a></li>
        </ul>
      </div>
    </aside>

    {# main #}
    <main>

      {% if page_title is defined %}
      <h1>{{page_title}}</h1>
      {% endif %}

      {% block body %}{% endblock %}
    </main>
  </div>
</body>


<script src="js/profileNav.js"></script>

</html>