{% extends 'base.html.twig' %}

{% block title %}
{% if app.user == user %}
Mes captures
{% else %}
Captures de {{user.pseudo}}
{% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/pkmn_card.css')}}">
<link rel="stylesheet" href="{{asset('css/captures.css')}}">
<link rel="stylesheet" href="{{asset('css/modals.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/sendCapturePjModal.js')}}"></script>
<script src="{{asset('js/modalsDelete.js')}}"></script>
{% endblock %}

{% block body %}

<section id="my-captures">
  {% for capture in captures %}
  {# on utilise le template de pokemonCard pour afficher toutes les captures #}
  {% include '.custom/pokemonCard.html.twig' %}

  {% endfor %}
</section>

<dialog id="sendCaptureDialog">
  <div class="dialog-content">

    <form action="{{ path('messages', {'pseudo': 0}) }}" id="contactForm" method="POST">

      <input type="hidden" id="id-capture" name="pjSend" value="">
      <label for="ami">choisissez votre contact</label>

      <select id="ami" name="ami" required>

        <option value="" selected disabled>Sélectionnez un ami</option>
        {% for ami in amis %}
        <option value="{{ami.pseudo}}">{{ami.pseudo}}</option>
        {% endfor %}
      </select>

      <div class="modalNav">
        <button type="submit">
          <i class="fa-solid fa-circle-check"></i>
        </button>

        <i class="cancelBtn close-btn fa-solid fa-circle-xmark"></i>
      </div>
    </form>
  </div>
</dialog>

<dialog id="delete-capture-modal">
    <div class="dialog-content">
        <h3>Etes vous sûr de vouloir supprimer cette capture ?</h3>

        <div class="modalNav">
            <a class="delete-link" href="">
                Oui, supprimer la capture
            </a>

            <button class="cancelBtn">
                Non, j'ai changé d'avis
            </button>
        </div>
    </div>
</dialog>

{% endblock %}