{% extends 'base.html.twig' %}

{% block title %}
{% if app.user == user %}
Mes captures
{% else %}
Captures de {{user.pseudo}}
{% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/pkmn_card.css')}}">
<link rel="stylesheet" href="{{asset('css/captures.css')}}">
<link rel="stylesheet" href="{{asset('css/modals.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/captureModal.js')}}"></script>
{% endblock %}

{% block body %}

<section id="my-captures">
  {% for capture in captures %}
  {# on utilise le template de pokemonCard pour afficher toutes les captures #}
  {% include '.custom/pokemonCard.html.twig' %}

  {% endfor %}
</section>

<dialog id="sendCaptureDialog">
  <div class="dialog-content">

    <form action="" id="contactForm">
      <input type="hidden" id="id-capture" name="id-capture" value="">

      <label for="ami">choisissez votre contact</label>
      <select id="ami" name="ami">
        {% for ami in amis %}
          <option value="{{ami.pseudo}}">{{ami.pseudo}}</option>
        {% endfor %}
      </select>

      <div class="modalNav">
        <button type="submit">
          <i class="fa-solid fa-circle-check"></i>
        </button>

        <i class="cancelBtn fa-solid fa-circle-xmark"></i>
      </div>

    </form>
  </div>
</dialog>

{% endblock %}