{{ form_start(formNewShasse) }}
<div>
    <label for="pokemonId">Nom du pokemon :</label>
    <select name="pokemonId" id="pokemonId">
        <option value="">Sélectionnez le pokémon</option>
        {% for pokemon in allPokemons %}
        <option value="{{ pokemon.pokedex_id }}">{{ pokemon.pokedex_id }} - {{ pokemon.name }}</option>
        {% endfor %}
    </select>
</div>
{{ form_row(formNewShasse.nbRencontres) }}
{{ form_row(formNewShasse.jeu) }}
{{ form_row(formNewShasse.lieu) }}
{{ form_row(formNewShasse.methodeCapture) }}
<div class="chroma-container">
    <img src="{{ asset('img/sprite-charme-chroma.png') }}" alt='charme chroma'>
    {{ form_row(formNewShasse.charmeChroma) }}
</div>
<button type="submit" class="submit-btn"><span><span>A la shasse!</span></span></button>
{{ form_end(formNewShasse) }}