{% extends 'base.html.twig' %}

{% block title %}Mes Shasses{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/pkmn_card.css')}}">
<link rel="stylesheet" href="{{asset('css/modals.css')}}">
<link rel="stylesheet" href="{{asset('css/shasses.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/shasseMain.js')}}"></script>
<script src="{{asset('js/ajaxCompteur.js')}}"></script>
<script src="{{asset('js/ajaxGetFormShasseData.js')}}"></script>
<script src="{{asset('js/modalsDelete.js')}}"></script>
{% endblock %}

{% block body %}

<h2>Mes shasses suivies</h2>
<section id="my-actives">

  {% for capture in captures %}
  {% if capture.suivi %}

  {# on utilise le template de pokemonCard pour afficher toutes les shasses en cours #}
  {% include '.custom/pokemonCard.html.twig' %}

  {% endif %}
  {% endfor %}
</section>

<h2>Débuter une shasse</h2>

<section id="new-shasse">
  {{ form_start(formNewShasse) }}
  <div class="loading-container">
    <label for="pokemonId">Nom du pokemon<span class="asterisk">*</span> :</label>
    <select name="pokemonId" id="pokemonId" required>
      <option value="">Sélectionnez le pokémon</option>
      {# ajax #}
    </select>
    <i class="fa-brands fa-cloudscale loading nom-pokemon-loading"></i>
  </div>
  {{ form_row(formNewShasse.nbRencontres) }}

  <div class="loading-container">
    <label for="jeu">Jeu<span class="asterisk">*</span> :</label>
    <select name="jeu" id="jeu" required>
      <option value="">Choisissez un jeu</option>
      {# ajax #}
    </select>
    <i class="fa-brands fa-cloudscale loading jeu-loading"></i>
  </div>

  {{ form_row(formNewShasse.lieu) }}
  {{ form_row(formNewShasse.methodeCapture) }}
  
  <div class="chroma-container">
    <img src="{{ asset('img/sprite-charme-chroma.png') }}" alt='charme chroma'>
    {{ form_row(formNewShasse.charmeChroma) }}
  </div>

  <input type="hidden" name="email" />

  <button type="submit" class="submit-btn"><span>A la shasse!</span></button>
  {{ form_end(formNewShasse) }}
</section>

<h2>Liste de mes autres shasses</h2>
<section id="my-other-shasses">

  {# table des shasses non suivies #}
  <p class="others-pokemon others-title">Pokémon</p>
  <p class="others-jeu others-title">Jeu</p>
  <p class="others-methode others-title">Méthode</p>
  <p class="others-compteur others-title">Compteur</p>
  <p class="add-suivi others-title"></p>
  <p class="others-del-btn others-title"></p>

  {# initialisation de count (pour table vide) #}
  {% set count = 0 %}

  {% for capture in captures %}
  {% if capture.suivi == false %}

  {% set count = count + 1 %}

  <div class="others-row">
    <div class="others-pokemon">
      <p class="others-pokemon-img">
        <img src="{{capture.imgShiny}}" alt="{{capture.nomPokemon}}">
      </p>
      <p class="others-pokemon-name">
        {{capture.nomPokemon}}
      </p>
    </div>
    <p class="others-jeu">
      {{capture.jeu}}
    </p>
    <p class="others-methode">
      {{capture.methodeCapture}}
    </p>
    <p class="others-compteur">
      {{capture.nbRencontres}}
    </p>
    <p class="add_suivi">
      <a href="{{ path('add_suivi', {'id': capture.id}) }}">
        ajouter au suivi
      </a>
    </p>
    <p class="others-del-btn">
      <button aria-label="supprimer la shasse" class="delete-shasse-button" id="del-{{capture.id}}">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </p>

    <div class="menu-burger-shasse">
      <i class="fa-solid fa-ellipsis toggle-menu"></i>

      <ul class="shasse-links-mobile hide">
        <li class="add_suivi">
          <a href="{{ path('add_suivi', {'id': capture.id}) }}">
            ajouter au suivi
          </a>
        </li>

        <li>
          <button class="delete-shasse-button" id="del-{{capture.id}}" aria-label="supprimer la shasse">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  {% if count == 0 %}
  <p>Cliquez sur "<span id="stop-suivi-tip">retirer du suivi</span>" pour garder votre shasse de côté</p>
  {% endif %}

</section>

<dialog id="shasseDialog">
  <div class="dialog-content">

    {{ form_start(formCapture) }}

    {{ form_row(formCapture.surnom) }}
    {{ form_row(formCapture.dateCapture) }}

    {# radio sexe #}
    <div>
      {{ form_label(formCapture.sexe) }}
      <div>
        {% for choice in formCapture.sexe %}
        <label>
          {{ form_widget(choice) }}
          {% if choice.vars.value == 'male' %}
          <i class="fa-solid fa-mars"></i>
          {% elseif choice.vars.value == 'femelle' %}
          <i class="fa-solid fa-venus"></i>
          {% elseif choice.vars.value == 'autre' %}
          <i class="fa-solid fa-genderless"></i>
          {% endif %}
        </label>
        {% endfor %}
      </div>
    </div>

    {# select balls #}
    <div class="loading-container">
      <label for="ball">Ball<span class="asterisk">*</span></label>
      <select id="ball" name="ball"></select>

      <i class="fa-brands fa-cloudscale loading ball-loading"></i>
    </div>

    {# hidden captureID #}
    <input type="hidden" id="IdCapture" name="IdCapture" value="" />

    <input type="hidden" name="email" />

    <div class="modalNav">
      <button type="submit" aria-label="Confirmer">
        <i class="fa-solid fa-circle-check"></i>
      </button>
      
      <button type="button" aria-label="Annuler">
        <i class="cancelBtn close-btn fa-solid fa-circle-xmark"></i>
      </button>
    </div>
    {{ form_end(formCapture) }}
  </div>
</dialog>

<dialog id="delete-shasse-modal">
  <div class="dialog-content">
    <h3>Etes vous sûr de vouloir supprimer cette shasse ?</h3>

    <div class="modalNav">
      <a class="delete-link" href="">
        Oui, supprimer la shasse
      </a>

      <button class="cancelBtn">
        Non, j'ai changé d'avis
      </button>
    </div>
  </div>
</dialog>

{% endblock %}