{% extends 'base.html.twig' %}

{% block title %}Mes Shasses{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="css/pkmn_card.css">
<link rel="stylesheet" href="css/shasses.css">
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/shasseModal.js')}}"></script>
<script src="{{asset('js/ajaxCompteur.js')}}"></script>

{% endblock %}

{% block body %}

<h2>Mes shasses suivies</h2>
<section id="my-actives">

  {% for capture in captures %}
  {% if capture.suivi %}

  {# on utilise le template de pokemonCard pour afficher toutes les shasses en cours #}
  {% include '.custom/pokemonCard.html.twig' %}

  {% endif %}
  {% endfor %}
</section>


<h2>Débuter une shasse</h2>
<section id="new-shasse">
  {# créer une shasse #}

  {{form_start(formNewShasse)}}

  {# {{form_row(formNewShasse.nomPokemon)}} #}
  <div>
    <label for="pokemonId">Nom du pokemon :</label>
    <select name="pokemonId" id="pokemonId">
      <option value="">Sélectionnez le pokémon</option>

      {% for pokemon in allPokemons %}
      <option value="{{pokemon.pokedex_id}}">{{pokemon.pokedex_id}} - {{pokemon.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="chroma-container">
    <img src="{{ asset('img/' ~ 'sprite-charme-chroma.png') }}" alt='charme chroma'>
    {{form_row(formNewShasse.charmeChroma)}}
  </div>

  {{form_row(formNewShasse.nbRencontres)}}

  {{form_row(formNewShasse.jeu)}}
  {{form_row(formNewShasse.lieu)}}

  {{form_row(formNewShasse.methodeCapture)}}


  <input id="submit-new-shasse" type="submit" value='A la shasse!'>

  {{form_end(formNewShasse)}}
</section>


<h2>Liste de mes autres shasses</h2>
<section id="my-other-shasses">

  {# table des shasses non suivies #}
  <table id="shassesTable">
    <thead>
      <tr>
        <th colspan="2">Pokémon</th>
        <th>Jeu</th>
        <th>Méthode</th>
        <th>Compteur</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>

      {# initialisation de count (pour table vide) #}
      {% set count = 0 %}

      {% for capture in captures %}
      {% if capture.suivi == false %}

      {% set count = count + 1 %}

      <tr>
        <td class="td-pokemon-img">
          <img src="{{capture.imgShiny}}" alt="{{capture.nomPokemon}}">
        </td>
        <td class="td-pokemon-name">
          {{capture.nomPokemon}}
        </td>
        <td>
          {{capture.jeu}}
        </td>
        <td>
          {{capture.methodeCapture}}
        </td>
        <td>
          {{capture.nbRencontres}}
        </td>
        <td>
          <a class="add_suivi" href="{{ path('add_suivi', {'id': capture.id}) }}">ajouter au suivi</a>
        </td>
        <td>
          <a href="{{ path('delete_shasse', {'id': capture.id}) }}"><i class="fa-solid fa-circle-xmark"></i></a>
        </td>
      </tr>

      {% endif %}
      {% endfor %}

    </tbody>
  </table>

  {% if count == 0 %}
  <p>pas d'entrées</p>
  {% endif %}

</section>


<dialog id="shasseDialog">
  <div id="dialog-content">

    {{ form_start(formCapture) }}

    {{ form_row(formCapture.surnom) }}
    {{ form_row(formCapture.dateCapture) }}


    {# radio sexe #}
    <div>
      {{ form_label(formCapture.sexe) }}
      <div>
        {% for choice in formCapture.sexe %}
        <label>
          {{ form_widget(choice) }}
          {% if choice.vars.value == 'male' %}
          <i class="fa-solid fa-mars"></i>
          {% elseif choice.vars.value == 'femelle' %}
          <i class="fa-solid fa-venus"></i>
          {% elseif choice.vars.value == 'autre' %}
          <i class="fa-solid fa-genderless"></i>
          {% endif %}
        </label>
        {% endfor %}
      </div>
    </div>

    {# select balls #}
    <div>
      <label for="ball">Ball</label>
      <select id="ball" name="ball">

        {% for group in balls %}
        <optgroup label="{{group.categoryName}}">

          {% for ball in group.ballsData %}
          <option value="{{ball.spriteName}}">{{ball.name}}</option>

          {% endfor %}
        </optgroup>

        {% endfor %}
      </select>
    </div>

    {# hidden captureID #}
    <input type="hidden" id="IdCapture" name="IdCapture" value="" />

    <div id="modalNav">
      <button type="submit">
        <i class="fa-solid fa-circle-check"></i>
      </button>
      <button type="cancel">
        <i class="cancel fa-solid fa-circle-xmark"></i>
      </button>
    </div>
    {{ form_end(formCapture) }}
  </div>
</dialog>

{% endblock %}