{% extends 'base.html.twig' %}

{% block title %}Mes Shasses{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/pkmn_card.css')}}">
<link rel="stylesheet" href="{{asset('css/shasses.css')}}">
<link rel="stylesheet" href="{{asset('css/modals.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/shasseModal.js')}}"></script>
<script src="{{asset('js/otherShasseToggleLinks.js')}}"></script>
<script src="{{asset('js/ajaxCompteur.js')}}"></script>
<script src="{{asset('js/ajaxFormNewShasse.js')}}"></script>
<script src="{{asset('js/ajaxFormSubmit.js')}}"></script>
<script src="{{asset('js/ajaxAllBalls.js')}}"></script>
<script src="{{asset('js/catchPokemon.js')}}"></script>
{% endblock %}

{% block body %}

<h2>Mes shasses suivies</h2>
<section id="my-actives">

  {% for capture in captures %}
  {% if capture.suivi %}

  {# on utilise le template de pokemonCard pour afficher toutes les shasses en cours #}
  {% include '.custom/pokemonCard.html.twig' %}

  {% endif %}
  {% endfor %}
</section>


<h2>Débuter une shasse</h2>

<section id="new-shasse">
  {# créer une shasse (AJAX) #}
</section>

<h2>Liste de mes autres shasses</h2>
<section id="my-other-shasses">

  {# table des shasses non suivies #}
  <p class="others-pokemon others-title">Pokémon</p>
  <p class="others-jeu others-title">Jeu</p>
  <p class="others-methode others-title">Méthode</p>
  <p class="others-compteur others-title">Compteur</p>
  <p class="add-suivi others-title"></p>
  <p class="others-del-btn others-title"></p>

  {# initialisation de count (pour table vide) #}
  {% set count = 0 %}

  {% for capture in captures %}
  {% if capture.suivi == false %}

  {% set count = count + 1 %}

  <div class="others-row">
    <div class="others-pokemon">
      <p class="others-pokemon-img">
        <img src="{{capture.imgShiny}}" alt="{{capture.nomPokemon}}">
      </p>
      <p class="others-pokemon-name">
        {{capture.nomPokemon}}
      </p>
    </div>
    <p class="others-jeu">
      {{capture.jeu}}
    </p>
    <p class="others-methode">
      {{capture.methodeCapture}}
    </p>
    <p class="others-compteur">
      {{capture.nbRencontres}}
    </p>
    <p class="add_suivi">
      <a href="{{ path('add_suivi', {'id': capture.id}) }}">
        ajouter au suivi
      </a>
    </p>
    <p class="others-del-btn">
      <a aria-label="supprimer la shasse" href="{{ path('delete_shasse', {'id': capture.id}) }}">
        <i class="fa-solid fa-circle-xmark"></i>
      </a>
    </p>

    <div class="menu-burger-shasse">
      <i class="fa-solid fa-ellipsis toggle-menu"></i>

      <ul class="shasse-links-mobile hide">
        <li class="add_suivi">
          <a href="{{ path('add_suivi', {'id': capture.id}) }}">
            ajouter au suivi
          </a>
        </li>

        <li>
          <a aria-label="supprimer la shasse" href="{{ path('delete_shasse', {'id': capture.id}) }}">
            <i class="fa-solid fa-trash-can"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  {% if count == 0 %}
  <p>Cliquez sur "<span id="stop-suivi-tip">arrêter le suivi</span>" pour garder votre shasse de côté</p>
  {% endif %}

</section>


<dialog id="shasseDialog">
  <div class="dialog-content">

    {{ form_start(formCapture) }}

    {{ form_row(formCapture.surnom) }}
    {{ form_row(formCapture.dateCapture) }}


    {# radio sexe #}
    <div>
      {{ form_label(formCapture.sexe) }}
      <div>
        {% for choice in formCapture.sexe %}
        <label>
          {{ form_widget(choice) }}
          {% if choice.vars.value == 'male' %}
          <i class="fa-solid fa-mars"></i>
          {% elseif choice.vars.value == 'femelle' %}
          <i class="fa-solid fa-venus"></i>
          {% elseif choice.vars.value == 'autre' %}
          <i class="fa-solid fa-genderless"></i>
          {% endif %}
        </label>
        {% endfor %}
      </div>
    </div>

    {# select balls #}
    <div>
      <label for="ball">Ball</label>
      <select id="ball" name="ball">

        {# {% for group in balls %}
        <optgroup label="{{group.categoryName}}">

          {% for ball in group.ballsData %}

          {% if ball is defined and ball is not empty %}
          <option value="{{ball.spriteName}}">{{ball.name}}</option>
          {% endif %}

          {% endfor %}
        </optgroup>

        {% endfor %} #}

      </select>
    </div>

    {# hidden captureID #}
    <input type="hidden" id="IdCapture" name="IdCapture" value="" />

    <div class="modalNav">

      <button type="submit">
        <i class="fa-solid fa-circle-check"></i>
      </button>
      <p class="cancelBtn">
        <i class="cancel fa-solid fa-circle-xmark"></i>
      </p>
    </div>
    {{ form_end(formCapture) }}
  </div>
</dialog>

{% endblock %}