{% extends 'base.html.twig' %}

{% block title %}Profil de {{user.pseudo}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/profile.css')}}">
<link rel="stylesheet" href="{{asset('css/modals.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{asset('js/profileModals.js')}}"></script>
{% endblock %}

{% block body %}

{# Edition du compte SSSI sur mon profil #}
{% if myProfil is defined and myProfil is not empty %}

<h2>Editer le compte</h2>

<section id="edit-account">
    <button id="change-avatar-button">changer l'avatar</button>
    <button id="change-pseudo-button">changer de pseudo</button>
    <a href="{{path('delete_account')}}" class="del-account-btn">supprimer mon compte</a>
</section>
{% endif %}

<h2>Infos sur le dresseur</h2>
<section id="user-infos">
    <figure>
        <img src="{{user.avatar ? asset('img/' ~ user.avatar) : asset('img/unknown_user.png') }}"
            alt="avatar de {{user.pseudo}}">
    </figure>

    <div id="user-basics-info">
        <p class="dateInscription">Inscrit depuis le : <span>{{user.dateInscription | date("d/m/Y")}}</span></p>
        <p class="nbShiny">Shiny trouvés : <span>{{capturesTermine | length}}</span></p>
        <p class="nbShasses">Shasses en cours : <span>{{capturesNotTermine | length}}</span></p>
        <p class="nbRencontres">Total des rencontres : <span>{{totalRencontres}}</span></p>
    </div>

    <div id="dex-completion-container">
        <p>Complétion du shinydex : </p>
        <div id="dex-completion">
            <p>{{capturedPokemonIds | length}} / {{allPokemons | length}}</p>
            {# completion bar : capturés / total #}
            <div id="completion-bar" style="width:{{ (capturedPokemonIds | length / allPokemons | length) * 100}}%">
            </div>
        </div>
    </div>
    <div id="links">
        <a href="{{ path('app_shinydex', {'pseudo': user.pseudo}) }}" id="shinydex-link">
            <i class="fa-solid fa-star"></i>&nbsp; ShinyDex
        </a>
        <a href="{{ path('captures', {'pseudo': user.pseudo}) }}" id="captures-link">
            <i class="fa-solid fa-star"></i>&nbsp; Captures
        </a>

        {% if myProfil is not defined and not (user == app.user) %}

        {# ajout des liens de messagerie / demande d'ami etc. #}

        {% if isFriend is defined and isFriend[0].statut is defined and isFriend[0].statut is not empty %}
        <a href="{{ path('messages', {'pseudo': user.pseudo}) }}" class="secondary-animated-button" id="message-link">
            <i class="fa-solid fa-envelope"></i>&nbsp; Message
        </a>
        {% elseif isFriend[0] is not defined %}
        <a href="{{ path('demande_ami', {'pseudo': user.pseudo}) }}" class="secondary-animated-button" id="friend-link">
            <i class="fa-solid fa-user-plus"></i>&nbsp; Ajouter en ami
        </a>
        {% elseif isFriend[0].userDemande == app.user %}
        <a href="{{ path('delete_ami', {'id': user.id}) }}" class="refuse-demand">
            <p>Demande envoyée</p><i class="fa-solid fa-xmark"></i>
        </a>
        {% else %}
        <div class="accept-demand-condition">
            <a href="{{ path('accept_ami', {'id': user.id}) }}" class="accept-demand"><i
                    class="fa-solid fa-user-plus"></i>&nbsp; Accepter</a>
            <a href="{{ path('delete_ami', {'id': user.id}) }}" class="refuse-demand">
                <p>Refuser</p><i class="fa-solid fa-xmark"></i>
            </a>
        </div>
        {% endif %}
        {% endif %}
    </div>

</section>

{% if capturesTermine is defined and capturesTermine is not empty %}

<section id="activity">
    <h2>Activité récente</h2>

    {% set counter = 0 %}
    {% for capture in capturesTermine %}

    {% if counter < 5 %} <p class="activity-capture">
        {{ capture.dateCapture|date('d/m/Y') }} : &nbsp;
        <span>{{ capture.user.pseudo }}</span> &nbsp; a trouvé &nbsp;<img src="{{capture.imgShiny}}"
            alt="{{capture.nomPokemon}} shiny"> <span>{{
            capture.nomPokemon }}</span>&nbsp; shiny sur &nbsp; <span>{{ capture.jeu }}</span> &nbsp; en &nbsp;
        <span>{{ capture.nbRencontres }}</span> &nbsp; rencontres{% if capture.surnom is not empty %}, et l'a appelé
        &nbsp; <span>{{capture.surnom }}</span>.
        {% else %}.
        {% endif %}
        </p>

        <hr>
        {% endif %}
        {% set counter = counter + 1 %}
        {% endfor %}
</section>
{% endif %}

{# dialogs de modification SSSI sur mon profil #}
{% if myProfil is defined and myProfil is not empty %}
<dialog id="avatarDialog">
    <div class="dialog-content">

        <form action="{{path('change_avatar')}}">
            <img src="{{ asset('img/' ~ app.user.avatar) }}" alt="avatar de {{app.user}}">

            <label for="avatar">Choisissez un avatar</label>
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" required>

            <div class="modalNav">
                <button type="submit">
                    <i class="fa-solid fa-circle-check"></i>
                </button>
                <p class="cancelBtn">
                    <i class="cancel fa-solid fa-circle-xmark"></i>
                </p>
            </div>
        </form>
    </div>
</dialog>


<dialog id="pseudoDialog">
    <div class="dialog-content">

        <form action="{{path('change_pseudo')}}">
            {{user.pseudo}}

            <div class="modalNav">
                <button type="submit">
                    <i class="fa-solid fa-circle-check"></i>
                </button>
                <p class="cancelBtn">
                    <i class="cancel fa-solid fa-circle-xmark"></i>
                </p>
            </div>
        </form>
    </div>
</dialog>
{% endif %}

{% endblock %}