{% extends 'base.html.twig' %}

{% block title %}
  {{ page_title }}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/forum.css') }}" />
{% endblock %}

{% block body %}
  {{ form_start(form) }}
  {{ form_row(form.titre) }}
  {{ form_row(form.intro) }}

  <button type="submit">Créer le topic</button>

  {{ form_end(form) }}
{% endblock %}
