{% extends 'base.html.twig' %}

{% block title %}{{sujet.titre}}{% endblock %}

{% block body %}

{% for post in posts %}
{{post.contenu}}
{% endfor %}

{{ form_start(form) }}

{{ form_row(form.contenu) }}
      <button type="submit" class="confirmBtn">
        Envoyer
      </button>

{{ form_end(form) }}
{% endblock %}